<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (C) 2023 The LineageOS Project
    SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.lineageos.euicc">

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.google.android.gsf" />
        <package android:name="com.google.android.euicc" />
        <package android:name="com.google.euiccpixel" />
        <package android:name="com.google.android.ims" />
    </queries>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:persistent="true"
        android:usesNonSdkApi="true">
        <receiver
            android:exported="true"
            android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:directBootAware="true"
            android:exported="true"
            android:name=".EuiccReceiver"
            android:permission="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS">
            <intent-filter>
                <action android:name="com.google.android.euicc.action.PARTNER_CUSTOMIZATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
