on boot
    chown system system /dev/xiaomi-touch
    chmod 0664 /dev/xiaomi-touch

service vendor.touchfeature-hal-1-0 /vendor/bin/hw/vendor.xiaomi.hardware.touchfeature@1.0-service
    class hal
    user system
    group system system
